### Generate Scores

In [16]:
import glob
import pandas as pd

name = "mpl_ftq_llama3_8b"
mode = "main"

path_list = sorted(glob.glob("./output/{}/*_output_{}_epoch_*.csv".format(name, mode)))
df_list = [pd.read_csv(p)['mean_score'] for p in path_list]
df_concat = pd.concat(df_list, axis=1)
df_result = pd.concat([pd.read_csv(path_list[0])['task'], df_concat.max(axis=1)], axis=1)
df_result[1] = df_result[0]
df_result = df_result.drop(columns=0)

df = df_result

new_order = [
    "NER_ACE05", "NER_BC5CDR", "NER_CoNLL03", "NER_DIANN", "NER_NCBIDisease", 
    "NER_OntoNotes5", "NER_WNUT2017", "RE_ACE05", "RE_CoNLL04", "EAE_ACE05", "EAE_RAMS", "EE_ACE05"
]

def map_task_to_order(task_name):
    for order in new_order:
        if order in task_name:
            return order
    return None

df['order'] = df['task'].apply(map_task_to_order)
df = df.sort_values(by='order', key=lambda x: x.map({v: i for i, v in enumerate(new_order)}))
df = df.drop(columns=['order'])

print("Name:", name, ":", round(df[1].mean(), 2))
df.T

Name: neurGrad_Last_diff_min_sd_888_qlora_llama3 : 78.04

,5,6,7,8,9,10,11,3,4,0,1,2
task,NER_ACE05,NER_BC5CDR,NER_CoNLL03,NER_DIANN,NER_NCBIDisease,NER_OntoNotes5,NER_WNUT2017,RE_ACE05,RE_CoNLL04,EAE_ACE05,EAE_RAMS,EE_ACE05
1,90.7,90.47,93.57,84.43,88.96,85.29,55.32,70.11,81.02,72.47,51.43,72.67